/Empresa/Aula-1/PrimeiroPrograma/nbproject/private/
/Empresa/Aula-1/PrimeiroPrograma/build/
/Empresa(Avansys)/Aula-1/PrimeiroPrograma/build/
/Empresa(Avansys)/Aula-1/PrimeiroPrograma/nbproject/private/
/Empresa(Avansys)/Aula-1/exe1/nbproject/private/
/Empresa(Avansys)/Aula-1/exe1/build/
/Empresa(Avansys)/Aula-2/Aula2/nbproject/private/
/Empresa(Avansys)/Aula-2/Aula2/build/
/Empresa(Avansys)/Aula-2/Desafio/nbproject/private/
/Empresa(Avansys)/Aula-2/Desafio/build/
/Empresa(Avansys)/Aula-2/exe2/nbproject/private/
/Empresa(Avansys)/Aula-2/exe2/build/
/Empresa(Avansys)/Aula-2/CalcularMedia/build/
/Empresa(Avansys)/Aula-2/CalcularMedia/nbproject/private/
/Empresa(Avansys)/Aula-2/UsandoSwitch/nbproject/private/
/Empresa(Avansys)/Aula-2/UsandoSwitch/build/
/Empresa(Avansys)/Aula-2/exe3/nbproject/private/
/Empresa(Avansys)/Aula-2/exe3/build/
/Empresa(Avansys)/Aula-2/EntradaDeDados/nbproject/private/
/Empresa(Avansys)/Aula-2/EntradaDeDados/build/
/Empresa(Avansys)/Aula-2/Conversao/nbproject/private/
/Empresa(Avansys)/Aula-2/Conversao/build/
/Empresa(Avansys)/Aula-2/Exemplo/build/
/Empresa(Avansys)/Aula-2/Exemplo/nbproject/private/
/Empresa(Avansys)/Aula-2/Exe2/nbproject/private/
/Empresa(Avansys)/Aula-2/BalancoTrimestral/nbproject/private/
/Empresa(Avansys)/Aula-2/BalancoTrimestral/build/
